<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Geopardy</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
    <div id="pano" style="width: 100%; height: 100%"></div>
    <div id="map" style="width: 100%; height: 100%"></div>
    <script>
    function getRandomFloat(min, max) {
        return Math.random() * (max - min) + min;
      }
      var map;
      var panorama;
      var marker;

      function initMap() {
        var latitude = getRandomFloat(-45,66); // avoiding the arctic circles and then some
        var longitude = getRandomFloat(-180,180);

        var place = {lat: latitude, lng: longitude};
        var place2 = {lat: 0, lng: 0}; // for the map        
        var sv = new google.maps.StreetViewService();

        panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'));

        // Set up the map.
        map = new google.maps.Map(document.getElementById('map'), {
          center: place2,
          zoom: 2,
          streetViewControl: false
        });

        // Set the initial Street View camera to the center of the map
        sv.getPanorama({location: place, radius: 1400000}, processSVData);

        //when the user clicks on the map
        map.addListener('click', function(event) {
          var user_latitude = event.latLng.lat();
          var user_longitude = event.latLng.lng();

          var place3 = {lat: user_latitude, lng: user_longitude};

          if (marker == undefined){
            marker = new google.maps.Marker({
                position: place3,
                map: map, 
                animation: google.maps.Animation.DROP,
            });
        }
        else{
            marker.setAnimation(google.maps.Animation.DROP);
            marker.setPosition(place3);
        }
          console.log( user_latitude + ', ' + user_longitude );
        });
      }

      function processSVData(data, status) {
        if (status === 'OK') {
          // var marker = new google.maps.Marker({
          //   position: data.location.latLng,
          //   map: map,
          //   title: data.location.description
          // });

          panorama.setPano(data.location.pano);
          panorama.setVisible(true);
          panorama.set('addressControl', false);

          // marker.addListener('click', function(event) {
          //   // var markerPanoID = data.location.pano;
          //   // // Set the Pano to use the passed panoID.
          //   // panorama.setPano(markerPanoID);
          //   // panorama.setVisible(true);
            // var latitude = event.latLng.lat();
            // var longitude = event.latLng.lng();
            // console.log( latitude + ', ' + longitude );
          // });
        } else {
          console.error('Street View data not found for this location.');
        }
      }
    </script>
    <!-- <script src = "../static/game.js"></script> -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5mIp5CiUGgspmP4WYqijELDBFv-7CUc8&callback=initMap">
    </script>
  </body>
</html>