{% extends "uniTemp.html" %}
{% block content1 %}

  <body>
    <div id="pano" style="width: 100%; height: 100%"></div>
    <div id="map" style="width: 100%; height: 100%"></div>
    <div id="score">score</div>
    <button id = "submit" disabled>Submit</button>
    <div id="streetview">
    <script src = "../static/game.js"></script>
    </div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5mIp5CiUGgspmP4WYqijELDBFv-7CUc8&callback=initMap">
    </script>
{% endblock %}