
{% extends "loginbase.html" %}
{% block content1 %}
<div class="inner cover">
	<h1 class="cover-heading"> Welcome </h1>
	<h2 class="cover-heading"> Geographical Guessing Game </h2>
	<h3>
		Guess where you are on the planet with google street view stuff.
	</h3><br>
	<h3><a class="btn btn-lg btn-success" href="/game" role="button">Play Game</a></h3>
	<h4>
		By G.R.O.U.P Group: Jerome Freudenberg, Daniel Chernovolenko, Yiduo Ke, Alex Taradaychuk
	</h4>
	<h3> Choose a theme below!</h3>
</div>
<div class="album text-muted">
	<div class="container">

	  <div class="row">
			<div class="card active" id = "normal">
					<img src="https://cdn.pixabay.com/photo/2013/07/12/13/59/globe-147715_960_720.png" alt="Card image cap">
			  <p class="card-text">Normal</p>
			</div>
		<div class="card" id = "theme-1-button-us">
		  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" alt="Card image cap">
		  <p class="card-text" href="/game">United States</p>
		</div>
		<div class="card" id = "theme-2-button-uni">
				<img src="http://ak2.picdn.net/shutterstock/videos/9469532/thumb/1.jpg" alt="Card image cap">
		  <p class="card-text">American Universities</p>
		</div>
		<div class="card" id = "theme-3-button-amusement">
				<img src="https://media.timeout.com/images/103893250/image.jpg" alt="Card image cap">
			<p class="card-text"> Amusment Parks </p>
		</div>
		<div class="card" id = "theme-4-button-africa">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Blank_Map-Africa.svg/2000px-Blank_Map-Africa.svg.png" alt="Card image cap">
			<p class="card-text"> Africa </p>
		</div>
		<div class="card" id = "theme-5-button-asia">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Asia_%28orthographic_projection%29.svg/1200px-Asia_%28orthographic_projection%29.svg.png" alt="Card image cap">
			<p class="card-text"> Asia </p>
		</div>
		<div class="card" id = "theme-6-button-north-america">
				<img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" alt="Card image cap">
			<p class="card-text"> North America </p>
		</div>
		<div class="card" id = "theme-7-button-europe">
				<img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" alt="Card image cap">
			<p class="card-text"> Europe </p>
		</div>
		<div class="card" id = "theme-8-button-oceania">
				<img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" alt="Card image cap">
			<p class="card-text"> Oceania </p>
		</div>
		<div class="card" id = "theme-9-button-world-capitals">
				<img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" alt="Card image cap">
			<p class="card-text"> World Capitals </p>
		</div>
		<div class="card" id = "theme-10-button-south-america">
				<img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" alt="Card image cap">
			<p class="card-text"> South America </p>
		</div>
	</div>
	</div>
<script src = "../static/home.js"></script>
{% endblock %}
