
{% extends "loginbase.html" %}
{% block content1 %}
<div class="inner cover">
	<h1 class="cover-heading"> Welcome </h1>
	<h2 class="cover-heading"> Geographical Guessing Game </h2>
	<h3>
		Guess where you are on the planet with google street view stuff.
	</h3><br>
	<h3><a class="btn btn-lg btn-success" href="/game" role="button">Play Game</a></h3>
	<h4>
		By G.R.O.U.P Group: Jerome Freudenberg, Daniel Chernovolenko, Yiduo Ke, Alex Taradaychuk
	</h4>
	<h3> Choose a theme below!</h3>
</div>
<div class="album text-muted">
	<div class="container">

	  <div class="row">
			<div class="card active" id = "normal">
					<img src="https://image.flaticon.com/icons/png/512/12/12195.png" alt="Card image cap">
			  <p class="card-text">Normal</p>
			</div>
		<div class="card" id = "theme-1-button-us">
		  <img src="http://meridianintl.co/attachment/full/us-map-icon/labeled-united-states-map-icon-18-for-with-united-states-map-icon.jpg" alt="Card image cap">
		  <p class="card-text" href="/game">United States</p>
		</div>
		<div class="card" id = "theme-2-button-uni">
				<img src="https://cdn0.iconfinder.com/data/icons/pixel-perfect-at-24px-volume-2/24/2010-512.png" alt="Card image cap">
		  <p class="card-text">American Universities</p>
		</div>
		<div class="card" id = "theme-3-button-amusement">
				<img src="https://cdn4.iconfinder.com/data/icons/adiante-apps-app-templates-incos-in-grey/512/app_type_theme_park_512px_GREY.png" alt="Card image cap">
			<p class="card-text"> Amusment Parks </p>
		</div>
		<div class="card" id = "theme-4-button-africa">
				<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t34.0-12/27157283_2012898549025929_1855064242_n.png?oh=ec2798754189a42b85494aba576df1e1&oe=5A69EEDB" alt="Card image cap">
			<p class="card-text"> Africa </p>
		</div>
		<div class="card" id = "theme-5-button-asia">
				<img src="https://cdn1.iconfinder.com/data/icons/continents-icons/512/asia-512.png" alt="Card image cap">
			<p class="card-text"> Asia </p>
		</div>
		<div class="card" id = "theme-6-button-north-america">
				<img src="https://cdn1.iconfinder.com/data/icons/continents-icons/512/north-america-512.png" alt="Card image cap">
			<p class="card-text"> North America </p>
		</div>
		<div class="card" id = "theme-7-button-europe">
				<img src="https://cdn3.iconfinder.com/data/icons/countries-and-continents/512/Europe-512.png" alt="Card image cap">
			<p class="card-text"> Europe </p>
		</div>
		<div class="card" id = "theme-8-button-oceania">
				<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/301972-200.png" alt="Card image cap">
			<p class="card-text"> Oceania </p>
		</div>
		<div class="card" id = "theme-9-button-world-capitals">
				<img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Travel-Us-Capitol-icon.png" alt="Card image cap">
			<p class="card-text"> World Capitals </p>
		</div>
		<div class="card" id = "theme-10-button-south-america">
				<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194337-200.png" alt="Card image cap">
			<p class="card-text"> South America </p>
		</div>
	</div>
	</div>
<script src = "../static/home.js"></script>
{% endblock %}
