<!DOCTYPE html>
<html>
  <head>
      <title> Login </title>
  </head>
  <body>
    <center>
      {% set messages = get_flashed_messages() %}
      {% for message in messages %}
      {{ message }}
      {% endfor %}
      <form method = "POST" action = "/authenticate">
        <b> Input your user </b>
        <input type = "text" name = "username"> <br>
        <b> Input your password </b>
	      <input type = "password" name = "password"> <br>
        <input type = "submit" value = "Boom">
        <br>
      </form>
      <br>
      <form method = "GET" action = "/register">
        <input type = "submit" value = "register"> </input>
      </form>
      <br><br>
      Water tastes good.
    </center>
  </body>
</html>
