<!DOCTYPE html>
<html>
  <head>
      <title> Make an Account </title>
  </head>
  <body>
    <center>
      {% set messages = get_flashed_messages() %}
      {% for message in messages %}
      {{ message }}
      {% endfor %}
      <form method = "POST" action = "/user_creation">
        <b> Input your user </b>
        <input type = "text" name = "username"> <br>
        <b> Input your password </b>
	      <input type = "password" name = "password"> <br>
        <b> Confirm pass </b>
        <input type = "password" name = "confirm"> <br>
        <input type = "submit" value = "Boom">
      </form>
      <br><br>
      Water will taste better.
    </center>
  </body>
</html>
