<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Geopardy</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
    <div id="pano" style="width: 100%; height: 100%"></div>
    <script src = "../static/test.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUg-iqhEm80I79bL5wCQ-_qB5bJxE76ro">
    </script>
  </body>
</html>
